<div class="app-chat-message__image">
  <img class="app--full-width app--circularize" src="/images/{{message.user.uiImage}}" alt="{{message.user.username}} profile picture" />
</div>
<div class="app-chat-message__content">{{{content}}}</div>
