{{#link-to "app.room" room class="app-chat-room-item__link mdl-list__item mdl-js-ripple-effect"}}
  <span class="mdl-list__item-primary-content">
    <span class="mdl-list__item-avatar">
      <img class="app--circularize app--full-width" src="/images/{{room.uiImage}}" alt="User profile picture"/>
    </span>
    <span>{{room.uiName}}</span>
  </span>
  <span class="mdl-list__item-secondary-content">
    <span class="mdl-list__item-secondary-action">
      <i class="material-icons">chat_bubble</i>
    </span>
  </span>
  <div class="mdl-ripple"></div>
{{/link-to}}