<div class="chat-room-info">
  <div class="chat-room-info__section">
    <div class="mdl-list">
      <span class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <span class="mdl-list__item-avatar">
            <img class="app--circularize app--full-width" src="/images/{{room.image}}" alt="User profile picture"/>
          </span>
          <span>{{room.name}}</span>
        </span>
      </span>
    </div>
  </div>

  <div class="chat-room-info__section">
    <h2 class="chat-room-info__section-title mdl-typography--caption mdl-typography--text-uppercase">Members</h2>

    <hr/>

    <ul class="mdl-list">
      {{#each room.users as |user| }}
        {{chat-colleague-item user=user}}
      {{/each}}
    </ul>
  </div>
</div>