{{chat-fab}}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <section class="mdl-layout__drawer">
    {{chat-sidebar users=model.users rooms=model.rooms}}
  </section>
  <main class="mdl-layout__content">
    {{outlet}}
  </main>
</div>