<div class="app-chat-room-conversation__messages" onscroll={{action 'onScroll'}}>
  {{#if waiting}}
    <div class="app-chat-room-conversation__notification mdl-typography--text-center">
      <img src="/images/loading.gif" width="20" alt="Loading image"/>
      Retrieving messages
    </div>
  {{/if}}

  {{#each messages as |message|}}
    {{chat-message message=message}}
  {{/each}}
</div>

{{textarea
  value=message
  key-down="submitMessage"
  class="app-chat-room-conversation__message mdl-color--grey-50"}}
