<li class="mdl-list__item mdl-list__item--two-line">
  <span class="mdl-list__item-primary-content">
    <span class="mdl-list__item-avatar">
      <img class="app--circularize app--full-width" src="images/zara.png" alt="User profile picture"/>
    </span>
    <span>lucat</span>
    <span class="mdl-list__item-sub-title">
      Online
    </span>
  </span>
  <span class="mdl-list__item-secondary-content">
    <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">settings_voice</i></a>
  </span>
</li>