<div class="app-chat-message">
  <div class="app-chat-message__image">
    <img class="app--full-width app--circularize" src="images/zara.png" alt="lucat" />
  </div>
  <div class="app-chat-message__content">yo</div>
</div>