<div class="app-chat-room__messages">
  {{#each messages as |message|}}
    {{chat-message message=message}}
  {{/each}}
</div>

{{textarea
  value=message
  key-down="submitMessage"
  class="app-chat-room__message mdl-color--grey-50"}}
