{{#link-to "app.room" room class="app-chat-room-item mdl-list__item"}}
  <span class="mdl-list__item-primary-content">
    <span class="mdl-list__item-avatar">
      <img class="app--circularize app--full-width" src="/images/{{image}}" alt="User profile picture"/>
    </span>
    <span>{{name}}</span>
  </span>
  <span class="mdl-list__item-secondary-content">
    <span class="mdl-list__item-secondary-action">
      <i class="material-icons">chat_bubble</i>
    </span>
  </span>
{{/link-to}}