<div class="app-chat-room">
  <div class="app-chat-room__conversation">
    {{chat-room-conversation room=room}}
  </div>
  <div class="app-chat-room__info">
    {{chat-room-info room=room}}
  </div>
</div>