<div class="mdl-dialog__content">
  {{app-select
    items=users
    filter=filter
    selected=invites
    itemComponent="app-select-item-invite-user"
    chipComponent="app-select-chip-invite-user"
  }}
</div>

<div class="mdl-dialog__actions">
  <button class="mdl-button" onclick={{action "invite"}}>Invite</button>
  <button class="mdl-button" onclick={{action "closeDialog"}}>Close</button>
</div>
