<div class="mdl-list__item-primary-content">
  <span class="mdl-list__item-avatar">
    <img src="/images/{{data.uiImage}}" class="app--circularize app--full-width mdl-typography--caption" />
  </span>
  <span>{{data.uiName}}</span>
</div>