<li class="mdl-list__item">
  <span class="mdl-list__item-primary-content">
    <span class="mdl-list__item-avatar">
      <img class="app--circularize app--full-width" src="images/zara.png" alt="User profile picture"/>
    </span>
    <span>warp</span>
  </span>
  <span class="mdl-list__item-secondary-content">
    <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">chat_bubble</i></a>
  </span>
</li>