$image-message-margin: 16px;

.app-chat-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 1em;
}

.app-chat-message__image {
  width: 40px;
  height: 40px;
}

.app-chat-message_info {
  font-size: 0.8em;
}

.app-chat-message__content {
  flex: 1;
  margin-right: 0;
  margin-left: $image-message-margin;
  min-width: 0;
}

.app-chat-message--recieved {
  &.app-chat-message {
    flex-direction: row-reverse;
  }

  .app-chat-message__content {
    margin-left: 0;
    margin-right: $image-message-margin;
  }
}