.app-chat-room {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.app-chat-room__messages {
  overflow: scroll;
  padding: 0px 16px;
}

.app-chat-room__message {
  box-sizing: border-box;
  padding: 10px 16px;
  min-height: 100px;
  border-top: 1px solid #e0e0e0;
  outline: none;
}
